body {
  background: #daddde;
}

#root {
  width: 250px;
  border-radius: 15px;
  margin: 20px auto;
  /* padding: 5px 10px; */
  background: #fff;
}

.player {
  padding: 30px 10px 10px 10px;
}
.song-info {
  display: flex;
}
